@import './variables';
@import './config';
@import './ui/navbar';
@import './ui/title';
@import './input';
@import './pages/login';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=VT323&display=swap');

body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: $text-color;
    scroll-behavior: smooth;
    background-color: $background-color;
}
