$background-color: #1B262C;
$accent-color:#E0FF00;
$text-color: #FFFFFF;
$afirmative-color: #47A538;
$negative-color: #C84B31;
$primary-color:#0F4C75;
$seconary-color:#0F4C75;
$terciary-color:#3282B8;
